@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Manrope', sans-serif;
}
hr{
    background: rgba(19, 19, 24, 0.20);
    color: #13131833;
    
}